<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="theme-color" content="#fff" />
    {% block header %} {% endblock %}
  </head>

  <body>
    <div class="header">
      <div class="content">
        <nav>
          <a href="#!" class="brand-logo">
            {% if assets %}
            <img src="{{ assets['prusa_connect_local_logo_black.svg'] }}" />
            {% endif %}
          </a>
          <a class="navbar-burger" id="menu">
            <div></div>
            <div></div>
            <div></div>
          </a>
          {% include "components/menu.html" %}  
        </nav>
      </div>
    </div>

    <div class="content">
      <div class="content-wrapper">
        {% include "components/telemetry.html" %}
        <div class="main" id="root"></div>

      </div>
    </div>

    {% block templates %} {% endblock %}
  </body>
</html>
