@use './_defines.scss' as defines;

@font-face {
  font-family: "Atlas Grotesk Regular Web";
  src: url("../assets/fonts/AtlasGrotesk-Regular-Web.eot");
  src: url("../assets/fonts/AtlasGrotesk-Regular-Web.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"),
    url("../assets/fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Atlas Grotesk Bold Web";
  src: url("../assets/fonts/AtlasGrotesk-Bold-Web.eot");
  src: url("../assets/fonts/AtlasGrotesk-Bold-Web.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/AtlasGrotesk-Bold-Web.woff2") format("woff2"),
    url("../assets/fonts/AtlasGrotesk-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

.txt-normal {
  font-family: "Atlas Grotesk Regular Web";
  color: defines.$text-white;
}

.txt-bold {
  font-family: "Atlas Grotesk Bold Web";
  color: defines.$text-white;
}

.txt-orange {
  color: defines.$text-orange !important;
}

.txt-grey {
  color: defines.$text-grey !important;
}

.txt-white {
  color: defines.$text-white !important;
}

.txt-size-1 {
  font-size: defines.$font-size-1-mobile;
}

.txt-size-2 {
  font-size: defines.$font-size-2-mobile;
}

@media (min-width: 1024px) {
  .txt-size-1 {
    font-size: defines.$font-size-1-desktop;
  }
  .txt-size-2 {
    font-size: defines.$font-size-2-desktop;
  }
}
