<!DOCTYPE html>
<html>

<head>
    <meta name="theme-color" content="#fff" />
    <title>Original Prusa Mini - PrusaConnect</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="content">
            <nav>
                <a href="#!" class="brand-logo">
                    <img src="img/prusa_connect_local_logo_black.svg"></img>
                </a>
                <a class="navbar-burger" onClick="onClickBurger(this)">
                    <div></div>
                    <div></div>
                    <div></div>
                </a>
                <ul class="burger-menu" id="navbar">
                    <li>
                        <a href="#dashboard">Dashboard</a>
                    </li>
                    <li>
                        <a href="#projects">Projects</a>
                    </li>
                    <li>
                        <a href="#temperature">Temperatures</a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>

    <div class="content">
        <div class="content-wrapper" id="root">
        </div>
    </div>

    <script>
        function onClickBurger(e) {
            if (e.className == "navbar-burger") {
                e.className = "navbar-burger burger-open";
                document.getElementById("navbar").className = "";
            } else {
                e.className = "navbar-burger";
                document.getElementById("navbar").className = "burger-menu";
            }
        }
    </script>
</body>

</html>