@font-face {
  font-family: "Atlas Grotesk Regular Web";
  src: url("./assets/fonts/AtlasGrotesk-Regular-Web.woff2") format("woff2"),
    url("./assets/fonts/AtlasGrotesk-Regular-Web.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: "Atlas Grotesk Bold Web";
  src: url("./assets/fonts/AtlasGrotesk-Bold-Web.woff2") format("woff2"),
    url("./assets/fonts/AtlasGrotesk-Bold-Web.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
